[2017-07-20 20:54] HarelM opened #1 "Support element target"
I'm using `ng2-scroll-to` which seems to be working fine with angular 4 but has a warning for old dependencies of angular 2, which is annoying, also the name is not great.
I wanted to switch to this library but I'm missing a feature:
`scrollableElementSelector` - which defines which element should be scrolled (the container, as apposed to which element to scroll to).
Am I missing something?

[2017-07-20 22:53] nicky-lenaers commented on #1
Thank you for your issue. Glad to hear you've found this plugin. So, the way this module works is as follows:

Internally, `@nicky-lenaers/ngx-scroll-to` searches for the first scrollable parent node it can find in the HTML markup, searching the DOM tree upwards from the element you set the `[ngx-scroll-to]` directive on. It does this **automatically** (in case you're interested, you can see the f

[2017-07-21 07:57] HarelM commented on #1
Well, I have a site that presents a map and I have a legend to this map.
The legend has section and I want that every section the user opens will be scrolled to the top.
This is already working as I said with ng2-scroll-to.
You can see it [here](https://israelhiking.osm.org.il] when pressing on the left "i" button and then pressing the left tab with the word "מקרא" and then any "+" should scroll i

[2017-07-21 08:18] HarelM commented on #1
Sorry, I miss-configured the module, now I don't have this error but it doesn't scroll the content the way I want...

[2017-07-21 10:05] nicky-lenaers commented on #1
Good that your configuration is now correct. Could you explain what exactly is not working? Is your content scrolling or not at all?

[2017-07-21 10:52] HarelM commented on #1
I don't see any animation so I'm guessing it doesn't work at all now that you mention it.
This is the code I use:
[code]
Which should replace the current line of code:
[code]

[2017-07-21 12:26] nicky-lenaers commented on #1
@HarelM I've testing your case in a Plunkr and notices that nested scrolling to elements does not work (because of [this](https://github.com/nicky-lenaers/ngx-scroll-to/blob/master/src/statics/scroll-to-animation.ts#L70) line). I'm working on a fix as we speak. I'll get you updated when this is working!

[2017-07-21 12:27] HarelM commented on #1
Thanks for the quick response and update!! let me know if there's anything I can do to help out.

[2017-07-21 13:45] nicky-lenaers opened #2 "Nested Elements not supported"
Scroll-to not working for nested elements (any element of which its first scrolllable parent is **not** the body)

[2017-07-21 16:11] #2 closed

[2017-07-21 17:10] nicky-lenaers opened #6 "Not working for ngIf"
Add ability to scroll to element that's originally hidden by ngIf. Should be done by animating after the Angular lifecycle hook

[2017-07-21 17:14] #6 closed

[2017-07-21 17:32] nicky-lenaers commented on #1
@HarelM I've added support for scrolling in nested `div`'s, as well as support for elements originally being hidden by `*ngIf` statements. You'll find both updates in [`0.2.1`](https://github.com/nicky-lenaers/ngx-scroll-to/releases/tag/0.2.1). See [`CHANGELOG.MD`](https://github.com/nicky-lenaers/ngx-scroll-to/blob/master/CHANGELOG.md) for details.

Also, I've created a Plunker that demonstrates

[2017-07-21 18:11] nicky-lenaers opened #8 "Option for interruptable scrolling"
Provide an option to enable/disable interrups during scrolling.

Proposed directive:
`[ngx-scroll-to-interruptable]`

Type
`boolean`

Default
`false`

Accepts
Any `boolean` value

[2017-07-21 18:54] HarelM commented on #1
I'm getting this error now when using the latest version:
[code]

[2017-07-21 18:59] HarelM commented on #1
Ignore the error (again) :-/ Issue with npm download and angular compilation.
but it still doesn't work - no animation and no scrolling still with version 0.2.1

[2017-07-21 19:06] nicky-lenaers commented on #1
How about the [Plunker](https://plnkr.co/edit/ArxQV06PEwA3Vl2nf1gR?p=preview) I provided, is that working for you? If so, you should be able to mimic this behaviour in your app, right? Also, do you still get any errors?

It's kinda hard for me to debug since I'm not developing your app. Maybe you can set up a minimal Plunker yourself and add just the parts that are relevant for this issue so I can

[2017-07-21 19:47] HarelM commented on #1
Not sure this describes my problem as I see errors in the console in the plunker and I don't see the same errors when I'm running my code but the principle is the same:
Setting the id in the component code.
https://plnkr.co/edit/hGLKh0ofqjDPHQjv1bxd?p=preview
I don't fully understand how this is different from the example you sent, but it doesn't work similarly...

[2017-07-21 20:13] nicky-lenaers commented on #1
@HarelM I caught the error, it was because the ID of the element is `0`, which I guess internally get's set to false. I prefixed the ID's with `fold-`, now it works. [See Plunker](https://plnkr.co/edit/abXRoijGa60JzSoOGCwK?p=preview)

[2017-07-21 20:18] HarelM commented on #1
I don't think that's it. I changed the component code to start the Id numbering from 1 instead of 0 and it still fails.
Let me know if you can create a plunker that works that uses the variable name without manipulation like I did. (without the `='fold' +...` in the html)

[2017-07-21 20:21] nicky-lenaers commented on #1
@HarelM Alright, good feedback! So just for the sake of best practices, I looked it up, for [HTML4](https://www.w3.org/TR/html4/types.html#type-id). From the official docs:

However, from the [HTML5](https://www.w3.org/TR/html5/dom.html#the-id-attribute) docs:

So you're right, digits should be supported as values for `id`. I will add a bug for this, research it and fix this soon!

[2017-07-21 20:22] HarelM commented on #1
I think I managed to make it work in the plunker example (was missing a {{...}}. I'll see if I can make this work in my code as well...

[2017-07-21 20:30] nicky-lenaers opened #9 "Support numeric ID values"
Breaks code, see [Plunker](https://plnkr.co/edit/abXRoijGa60JzSoOGCwK?p=preview)

[2017-07-21 21:48] HarelM commented on #1
I had another look at my code and it seems to declare the ids with "_" to avoid this issue.
I can't make a plunker reproduction unfortunately but I can debug the scroll-to code and it gets hit when clicking, it finds a parent to scroll to but it doesn't animate it apparently.
Also the parent it finds is not the parent I want so this issue is still relevant :-)
If you're up to it and willing to hel

[2017-07-22 08:26] HarelM opened #10 "Feature: Using a service from inside a component to scroll"
I couldn't find it in the documentations - I would like to achieve the following:
I have a component that is a pop-up, and I want to scroll to the same location the user left it when it was closed.
So I need two functionalities
1. The ability to smooth scroll to a position.
2. The ability to receive scroll events to update a local variable that stores the current scroll position.
Currently I'm usi

[2017-07-22 08:49] HarelM commented on #10
Basically this is the code I want to replace:
[code]

[2017-07-22 16:52] nicky-lenaers commented on #1
@HarelM You're actually being very helpful so far. Feedback is the most important part of any open source project. You've given me a lot already, so I'm really gald for that.

Now, I took a look at the code in Chrome and stepped through the code like you did earlier. I see, indeed, that the first scrollable parent is incorrect. From what I can tell, the parent that *is* selected actually has an ov

[2017-07-22 16:53] nicky-lenaers opened #11 "Take hidden overflow into account"
When finding the first scrollable parent, hidden overflow are considered scrollable. They should not be.

[2017-07-22 17:09] #11 closed

[2017-07-22 17:14] nicky-lenaers commented on #1
@HarelM Ok I made a fix, (in case you're interested, see [this code](https://github.com/nicky-lenaers/ngx-scroll-to/commit/9ccae5b)). This should fix your problem.

Can you let me know if this works for you? If it does not, please don't hesitate to let me know other issues you encounter. Thanks!

[2017-07-22 17:33] nicky-lenaers commented on #10
Good point, scroll events are definitely a missing feature as of this moment. I'll create a seperate issue for implementation of scroll events. To stay in line with the way [Angular Animation Callbacks](https://angular.io/guide/animations#animation-callbacks) work, I was thinking of the following set of events:

**1. Start**
Fired when the animation starts.
`(ngx-scroll-to-on-start)="onScrollToSta

[2017-07-22 17:35] nicky-lenaers opened #13 "Add Tests"
Integration of Karma testing

[2017-07-22 18:51] HarelM commented on #1
It finally works!! :-) thanks a lot!

[2017-07-22 18:53] nicky-lenaers commented on #1
You're very much welcome. Keep an eye out for updates as I'll be developing this plugin quiet a lot! You're always welcome to contribute! 👍 Closing this issue.

[2017-07-22 18:53] #1 closed

[2017-07-22 18:56] HarelM commented on #10
I'm not sure I understand how this solves my issue - are these events generated from html that has a scroll-to directive on it?
I need the ability to scroll a position from within the component code written in typescript.
I must be missing something, can you provide a usage example?
See the code above - this is the code I need to replace with something like:
[code]

[2017-07-22 19:03] nicky-lenaers commented on #10
Ah I see. I had my solution mostly based on this line you wrote:

Sorry for misunderstanding your question. I think you're solution to trigger scrolling from within a component is also a missing feature. I'll give this a go soon and give you a heads up when implemented.

[2017-07-22 19:15] HarelM commented on #10
I see, the main intensive here is that I removed all references of JQuery from my code and it seems angular doesn't have a good solution for smooth scrolling so I was looking for a solution as since it seems you are actively maintaining this library I thought it could be a good fit for a feature suggestion.
Let me know if and when you get to it, until then this particular scroll will be without an

[2017-07-22 19:24] nicky-lenaers commented on #10
Cool, I'll keep you posted! We want those animations, right! 😄

[2017-07-23 19:27] nicky-lenaers commented on #13
Closes in #16

[2017-07-23 19:27] #13 closed

[2017-07-26 15:43] nicky-lenaers opened #18 "Circle CI Badge should only represent "master" branch"
- Add branch to Circle CI URL

[2017-07-26 15:44] nicky-lenaers opened #19 "Custom Easing Logic"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

No custom easing logic in

[2017-07-27 13:10] misaizdaleka opened #20 "Feature: Enable scrolling for targets in a different container"
Hi,
So in one div I have my anchors which I click for scrolling and in another one are the targets to scroll to.
This usecase is not working. Here's a plunkr for you to see:
https://plnkr.co/edit/y345JeEKeOz4pv9maZaV?p=preview

Am I setting something wrong, or is it not possble?

Thanks

## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new r

[2017-07-27 21:54] #9 closed

[2017-07-27 21:54] #18 closed

[2017-07-27 21:59] nicky-lenaers commented on #20
Hi @misaizdaleka , thank you for your issue. As of this moment, setting a custom scroll container is not possible. You're usecase seems a valid one to enable this feature. In short, these are the requirements for this feature:

- A new directive, something like `[ngx-scroll-to-container]`
- A check whether the container is scrollable
- Some tests to verify the behaviour

You're welcome to give it

[2017-08-05 18:29] nicky-lenaers opened #22 "Support Native Element for target"

[2017-08-05 19:04] nicky-lenaers opened #23 "Add Demo"

[2017-08-08 20:28] #10 closed

[2017-08-08 20:34] nicky-lenaers commented on #10
@HarelM This feature has been added to a new release. Please check the [related section in the README.md for using an Angular Service](https://github.com/nicky-lenaers/ngx-scroll-to#basic-usage---service) for usage examples. Please let me know if your issue has been resolved or if you encounter any problems.

Thanks!

[2017-08-08 20:55] HarelM commented on #10
Thanks for the fast implementation!
I have a few questions:
1. What happens if I don't have an event instance to pass to the scroll to function?
2. Can I use the config object to specify an offset instead of target?
3. How do I define which element to scroll (the "parent" not the target?

[2017-08-08 21:31] nicky-lenaers opened #27 "Ability to call scrollTo without event"
This is a follow-up on #20 . As soon as this is implemented, the `scrollTo` function will be available to be called without an `event`, since the `event` is now needed to search for the first scrollable parent.

[2017-08-08 21:31] nicky-lenaers commented on #10
@HarelM Good questions. Allow me to explain:

That won't work. The event is coming from the HTML Element that fires the event. This HTML Element is needed to calculate the first scrollable parent. Without it, the plugin won't be able to find a scroll container (for now!). There is already an issue open to specify a custom scroll container, [see the issue here](https://github.com/nicky-lenaers/ngx-

[2017-08-08 21:55] HarelM commented on #10
Thanks for your prompt response!
If you need to better understand what I want to accomplish you can use the snippet I provided above, here it is again, with some comment to help understand what I want to achieve:
[code]
So as far as I can tell, this implementation still doesn't cover my needs, so I'll wait for the other issues to be resolved and I'll try again.
Thanks a lot for being so responsive

[2017-08-08 22:49] nicky-lenaers commented on #10
I see, great thing you've provided the snippets. Do you mind putting these into a separate issue?
Because the current feature of service implementation is released (which closes this issue). That will really help me organize the issues better, so I can handle them separately. You can simply copy paste the above comment into the example section of a new issue.

Thanks a bunch, looking forward for t

[2017-08-09 06:25] HarelM opened #28 "Feature: Scroll offset instead of target"
To continue the discussion at issue #10:
here is a snippet describing what I want to achieve with some comment to help clarify:
[code]

Here's my current implementation without JQuery:
[code]

[2017-08-09 06:27] HarelM commented on #10
See issue #28.
As a side note, this was the initial intention of this issue, but I don't mind opening another one that is almost the same...

[2017-08-14 06:53] nicky-lenaers commented on #28
@HarelM Thanks for the above examples. I've looked into it and as far as I can see, the following is desired:

- You want to scroll to specific position (a.k.a. position offset) in `dialogOffset`.
- You do not want to target any element, just an offset (from the top I assume?).
- You would like to pass in an `ElementRef` to specify the container that needs to be scrolled.

Can you conform and/or u

[2017-08-14 07:17] HarelM commented on #28
I think you understood it correctly.
The following is the line I would like to replace with the scroll to functionality:
`setTimeout(() => dialogElement.scrollTop = this.state.scrollPosition, 700);`
This method does not animate while I want it to be animated scroll (this is the main benefit from using this library in this case).
Not sure what you mean by `dialogOffset` but yes, an offset in `Eleme

[2017-08-14 07:21] AlexSapoznikov opened #29 "Offset configuration acts as negative value when scrolling from bottom to top"
Hi!
When I am using `offset` option and the scrolling happens from the bottom to the top, it seems that the offset is acting as a negative value.

To clarify (using offset 200 for example):
* target.offsetTop > document.body.scrollTop - everything works fine, scrolls to target.offsetTop + 200px
* target.offsetTop < document.body.scrollTop - scrolls to target.offsetTop - 200px, instead of + 200px

[2017-08-14 12:00] nicky-lenaers commented on #29
Hi @AlexSapoznikov ,
Thank you for your issue submittance. Regarding your issue, I will mark this as a bug and will investigate to correct this behavior such that it behaves properly. The corrected code should allow you to use offset in case `target.offsetTop < document.body.scrollTop`, so I suppose you don't need an extra `offsetTop` in the config, right?

[2017-08-14 12:05] nicky-lenaers commented on #28
@HarelM updated my comment, you're right, `dialogOffset` should have been `dialogElement`. There's some other issues with higher prio, but I'll keep this is development. I expect this to be done within a couple of weeks.

[2017-08-15 05:29] AlexSapoznikov commented on #29
Hi @nicky-lenaers
Yup, no need for extra `offsetTop` in the config. Thanks for investigating! :)

[2017-08-28 07:03] ofermisk commented on #1
Hi there,
First, thanks for the plugin.
I am having a click issue (as far as i know, i am doing all as written :))...
On click i get "Error: No scrollable parent found for element BUTTON".
My code :
**Template**
<ion-row  >
    <button *ngFor="let item of data" class="chapter_title" [ngx-scroll-to]="item.title">{{item.title}}</button>
  </ion-row>
  <ion-row *ngFor="let item of data" >
    <ion-ca

[2017-08-28 11:52] nicky-lenaers commented on #1
@ofermisk Thank you for submitting your issue. Do you mind putting this into a seperate issue so I can mark you usecase a specific bug? I'll be able to handle it from there on. On top of my head I'm not sure what's going wrong, but I don't remember testing this inside a `ngFor` loop, so that might be it. I'll be glad to help in a seperate issue.

Thanks.

[2017-08-28 12:30] ofermisk opened #30 "No scrollable parent found for element BUTTON on ngFor"
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

Hi there,
First, thanks for the plugin.
I am having a click issue (as far as i kn

[2017-09-09 17:06] jimmy-tfp opened #31 "Using module with SSR from angular cli gives import error"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

Our SSR app is built usin

[2017-09-11 09:59] nicky-lenaers commented on #31
Hi @jimmy-tfp, thank you for submitting your issue. I will be investigating this soon!

[2017-09-12 08:09] igorissen opened #32 "[Question] How to use service without event parameter?"
Hi,

I want to use your library in my project but I saw that I need to provide an event parameter if I want to use the scroll service. Is there a way to bypass this?
Also I wonder if this library will work with my complex view.

[code]

I need to scroll to the currently playing program when the `Content` is loaded. How can I use `ngx-scroll-to` to achieve this?

[2017-09-12 08:13] nicky-lenaers commented on #32
@igorissen Thank you for you issue. I'm aware of the fact that `event` should be left out of the service. This will be available in the near future.

Regarding the question if this plugin will work with your project, please provide an example fiddle or a link to your github repo.

Thank you!

[2017-09-12 12:06] igorissen commented on #32
@nicky-lenaers Hope to see this feature soon.

Unfortunately, it's a client project and I can't show the code. I can just say that it is a view for an EPG. I can give the structure of my view with the initial actions.

[code]

- fetch channels list
- create dates list ([-7 days, today, +7 days])
- fetch programs for the selected channel and date (0 -> 23 hours)

After that, I need to use your libr

[2017-09-14 19:46] daslaf commented on #32
Same here, I need to use the scroll service on some ReactiveForm FormControl value change.

[2017-09-17 12:55] colthreepv commented on #32
Refers to #27, maybe close one of those?

[2017-09-17 17:21] nicky-lenaers commented on #32
@colthreepv good point, so @daslaf and @igorissen see #27 for further updates. I expect this to land in october 2017 (so quite soon) as I'll be able to work on it from then on.

[2017-09-17 17:21] #32 closed

[2017-10-01 18:50] jacobedawson commented on #31
@nicky-lenaers I just ran into this issue as well - the error only came up while building for SSR, same error as what @jimmy-tfp reported.

Thanks for your work on the module but I would say until this issue is resolved you might want to remove the mention on the repo homepage that this module works with SSR.

[2017-10-03 19:56] nicky-lenaers opened #34 "Fix Indenting"
This is mainly an issue to test the generation of the CHANGELOG.md file

[2017-10-03 22:03] nicky-lenaers commented on #31
@jacobedawson @jimmy-tfp I'm working on this issue. Will be resolved soon!

[2017-10-04 06:46] jacobedawson commented on #31
@nicky-lenaers thanks for your effort dude, in all other aspects it's a great module :)

[2017-10-04 08:16] #34 closed

[2017-10-04 08:56] nicky-lenaers commented on #31
@jacobedawson @jimmy-tfp I did a full repo overhaul to enforce a package called `ng-packagr`. This module should package everything up properly. I just release `0.4.0-alpha.3`, which includes support for SSR builds. I tested it on my own repo and it works.

I'd like to get your feedback on whether it works or not.

Thanks, your feedback is much appreciated!

[2017-10-04 09:33] nicky-lenaers opened #44 "Integrate with CirlceCI 2.0 for Testing/CI/CD"
- [x] Add CircleCI Status Badge to `REAMDE.md`
- [x] Set repository settings to check CircleCI Status before merges

[2017-10-05 18:40] jacobedawson commented on #31
Hi @nicky-lenaers - I just installed 0.4.0-alpha.3 and I got this error during compilation (no other changes made - just installed ngx-scroll-to, added imports in module.ts, set up the service from this repo):

[code]

[2017-10-05 21:14] nicky-lenaers commented on #31
@jacobedawson Thank you for reporting this. I came across [quiet a hot issue topic](https://github.com/angular/angular-cli/issues/3707) that references this issue. It seems there could be multiple factors that cause this error. Even outside of the scope of this module. The fact that I have a working example in a repo confirms that.

I'd really like to help you with this. Do you mind setting up a s

[2017-10-05 22:10] #29 closed

[2017-10-05 22:16] #44 closed

[2017-10-05 22:31] nicky-lenaers commented on #30
@ofermisk Hi, thank you for your issue report! I'll be investigating this soon!

[2017-10-05 22:39] nicky-lenaers commented on #30
@ofermisk I've tested this within this repository's app and the `*ngFor` works as expected. I've also tested it with a component (non-native HTML element) as a wrapper and that works as well. Do you mind providing a plunkr/example repo so I can investigate?

[2017-10-06 22:07] jacobedawson commented on #31
@nicky-lenaers yo dude - sure thing, will have a look tomo morning (bedtime in berlin...zzz) and get back to you, cheers!

[2017-10-06 22:55] nicky-lenaers commented on #31
Sure man, same thing in your neighbor Netherlands :-) let me know when you got something!

[2017-10-12 18:51] #20 closed

[2017-10-12 18:51] #27 closed

[2017-10-12 19:14] nicky-lenaers commented on #20
@misaizdaleka I'm happy to announce that this feature has been merged in the current stable release [`0.4.0`](https://github.com/nicky-lenaers/ngx-scroll-to/releases). Please see the [CHANGELOG](https://github.com/nicky-lenaers/ngx-scroll-to/blob/master/CHANGELOG.md) for more details and check out the fresh release at [NPM](https://www.npmjs.com/package/@nicky-lenaers/ngx-scroll-to).

Thanks again

[2017-11-01 16:18] ChrisDerrig commented on #22
This would be a useful feature to have

[2017-11-02 17:16] jessycormier opened #50 "Unable to find Target Element - suppress this message when we don't care?"
## I'm submitting a request / bug
        const config: ScrollToConfigOptions = {
            container: '#some-wrapper',
            target: '#someIdNotOnPage
        };
        this.scrollToService.scrollTo(config).
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x ] Feature request
[] Documentation issue or request
</code></pre>

##

[2017-11-02 21:44] nicky-lenaers commented on #50
Hi @jessycormier , thank you for your feedback, it is much appreciated. I will take this issue into considering soon!

[2017-11-03 19:55] nicky-lenaers commented on #31
@jacobedawson I've been doing research into this issue. It seems to not be related to this module specifically. My suggestion is to check your installed versions of Angular itself and go through topics that address your issue.

Thanks again for your feedback, this is much appreciated!

Closing this issue due to irrelevance to the module.

[2017-11-03 19:55] #31 closed

[2017-11-03 19:57] nicky-lenaers commented on #30
@ofermisk I've been testing this case for quite some time now, but I can't seem to find the exact reproduction of your issue. Please provide a more detailed Plunker or StackBlitz project that I can look into.

Thanks again for your issue, this is much appreciated.

Closing this issue due to *cannot reproduce*.

[2017-11-03 19:57] #30 closed

[2017-11-10 15:44] genyklemberg opened #51 "Make links Active depending on scroll position (while scrolling manually)"
I have this links in navbar:
[code]
and when I'm scrolling manually I want class active to be fired in nav on corresponding items down in html

[2017-11-14 13:56] nicky-lenaers commented on #51
@genyklemberg Thank you for your issue. However, this issue is not conform the issue guidelines. I too find it difficult to understand your issue properly. Please provide a formatted issue with an inspectable or reproducable problem definition.

Thank you, I'm happy to take a reformulated issue into consideration.

[2017-11-30 20:09] HarelM opened #52 "Update dependency to angular 5"
Hi,

Current package shows an npm warning when installed with angular 5.0.
Can the dependency be updated?
[code]

[2017-11-30 20:48] nicky-lenaers commented on #52
Will do. Other issues will be resolved soon as well.

[2017-12-01 15:22] gang-qiu opened #53 "Scroll completion callback"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

No way to execute a callback after scrolling has completed

## Expected behavior

define a config parameter for a completion callback

## Minimal reproduction of the problem w

[2017-12-02 23:45] nicky-lenaers opened #55 "update readme"
remove `accepts` table column (this is already clear in `type` column)

[2017-12-03 00:12] #52 closed

[2017-12-03 01:06] #22 closed

[2017-12-03 01:06] #55 closed

[2017-12-03 02:47] #50 closed

[2017-12-03 02:58] nicky-lenaers commented on #50
@jessycormier You're now able to handle errors and suppress if needed, see [the updated README](https://github.com/nicky-lenaers/ngx-scroll-to#error-handling). Let me know if you need anything else!

Cheers 🍺

[2017-12-03 02:59] nicky-lenaers commented on #53
Hi @gang-qiu , thank you for your issue. This is certainly a good feature. I'm currently working on fixing some other issues. Please check back in a short while for this feature.

Thanks! 💯

[2017-12-05 09:20] nicky-lenaers commented on #51
I've been researching this issue. As far as I can tell, you want to add an `active` class to a HTML element based on scroll position. This is *not* something `ngx-scroll-to` covers, because it is not in line with the goal of this plugin.

However, you can achieve something you want using i.e. an **[Intersection Observer](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API)**

[2017-12-05 09:20] #51 closed

[2017-12-27 17:20] jessycormier opened #58 "Please package your code with index.js so it can work in angular 5"
Please see this comment: https://github.com/angular/angular-cli/issues/8284#issuecomment-341417325

## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

[2017-12-28 01:33] jessycormier commented on #58
Hi again, I have been able to get things running without needing a index.js, The comment link I sent is still useful for anyone who packages code in TypeScript though :)

[2017-12-28 01:33] #58 closed

[2018-01-03 16:28] jredd opened #59 "Detect if element is visible and abort scroll if it is"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
None

## Expected behavior
Some kind of option to prevent scrolling if the element is already visible within the parent container

## What is the motivation / use case for chang

[2018-01-23 11:19] anita-gfm commented on #1
I've implemented this ng2-scroll-to successfully, and works well. It causes a problem with the default scrolling on IOS devices, where the normal page scrolling is not smooth and appears to be sticky.
has anyone else encountered this? And how has this been resolved?

[2018-01-23 14:16] nicky-lenaers commented on #1
Hi @anita-gfm, please post your issue in a seperate issue thread as this is already closed. I don't see the relation between your comment and the actual issue.

Thank you for submitting!

[2018-01-23 14:16] HarelM commented on #28
Any updates on this?

[2018-01-23 14:16] Jpascual55 commented on #1
Hi Anita,
I’ve implemented it too a few days ago and I had the same problem, I dont remember the exact solution but I think I was use something like this: https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/

[2018-01-24 09:59] O-mkar opened #60 "Scroll doesnt work with IF block content on version 0.5.0"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
Scroll doesn't scroll if the div is hidden under IF Block only on v0.5.0 but works fine on v0.4.0

## Expected behavior
It should scroll even if the block is hidden under

##

[2018-01-24 10:02] O-mkar opened #61 "Scroll doesn't work with *ngIF block content on version 0.5.0 - 0.5.3"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
Scroll doesn't scroll if the div is hidden under IF Block only on v0.5.0 but works fine on v0.4.0

## Expected behavior
It should scroll even if the block is hidden under *ngI

[2018-01-24 10:22] #60 closed

[2018-01-29 07:47] arins opened #62 "Stop loop code"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

the animation never stops (tested with easeOutElastic). Side effects are for example arrow keys are not working for scrolling and also a interval is running which might slow d

[2018-01-31 08:57] nicky-lenaers commented on #62
Hi @arins , thank you for your issue. As I understand, this seems like a bug that needs to be fixed right away. I'm not sure when I have time for this, but you're very much welcome to submit a PR if possible!

[2018-02-02 09:53] nicky-lenaers commented on #62
I applied a fix to this, but it is not sufficient. Reopening as it needs more investigation.

[2018-02-02 10:35] #62 closed

[2018-02-02 10:51] nicky-lenaers commented on #28
I've been away for a little while. Will get back to this soon enough, apologies for the delay! I'll keep you posted when the feature is implemented.

[2018-02-02 11:57] O-mkar commented on #61
Found a temporary solution

    `setTimeout(()=>{
        this.scrollservice.scrollTo(config)
       } , 2);`

[2018-02-02 12:20] arins commented on #62
If I have time I will look at it. I will make PR if that is the case

[2018-02-02 15:03] nicky-lenaers commented on #62
I think I fixed this today. I was a combination of incorrect calculations and the float you described. You can check out [Release `0.5.3`](https://github.com/nicky-lenaers/ngx-scroll-to/releases/tag/0.5.3) and see if that fixes your case.

Thanks again for your issue submittance!

[2018-02-02 15:09] nicky-lenaers commented on #61
@O-mkar Yes, and this is by design. You need at least one Angular Lifecycle to evaulate an `*ngIf` and, after that, you can scroll to that element. A `setTimeout()` function does exactly that. It is a common problem and this module does not provide a solution to that. I will look into possibilities of fixing this, though I'm not sure yet whether this should be handled by the module or its users. P

[2018-02-03 16:22] nicky-lenaers commented on #59
Hi @jredd , thank you for your issue. This module provides functionality of scrolling to a DOM element. As with any NPM module, it *should do one thing and one thing only*. Checking for an elements visibility in my opinion is therefore not a feature that should be placed in this module.

This module **does** provide a Service where you can programmatically trigger scroll-to animations. The Service

[2018-02-08 21:03] gagandeepgill opened #65 "Scrolling on IE and Edge?"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[x] Documentation issue or request
</code></pre>

## Current behavior
Doesn't scroll with click of button.

## Expected behavior
To scroll too targeted id.

## Minimal reproduction of the problem with instructions

## What is the motivation / use

[2018-02-08 21:15] #65 closed

[2018-02-09 21:36] AustinHatem opened #66 "Scrolling does not work when inside an Angular Material Sidenav"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
 Scrolling does not work when inside an Angular Material Sidenav.

## Expected behavior
For it to work.

## Minimal reproduction of the problem with instructions
Here is a stac

[2018-02-13 21:22] #28 closed

[2018-02-13 21:31] nicky-lenaers commented on #28
@HarelM I'm happy to announce this feature has been implemented as of today. It is available on version [0.6.0](https://github.com/nicky-lenaers/ngx-scroll-to/blob/master/CHANGELOG.md#060-2018-02-13). Please refer to [Directive Example](https://github.com/nicky-lenaers/ngx-scroll-to#basic-usage---directive-to-offset-only) or [Service Example](https://github.com/nicky-lenaers/ngx-scroll-to#basic-us

[2018-02-13 21:38] HarelM commented on #28
Thanks!!
Hopefully will be able to use it soon and let you know if it works add expected.

[2018-02-16 15:30] arins commented on #62
Thanks I will check it out and let you know.

[2018-02-16 15:40] arins commented on #62
@nicky-lenaers It works now the timeout is cleared. Thanks

[2018-02-20 21:48] HarelM commented on #28
Is it possible the documentation is incorrect?
[code]

[2018-02-20 22:13] HarelM commented on #28
Hi,
I have tried to use the latest version (0.6.0) and I have added the ScrollToService and I think it has a bug in it:
The following code is what I tried:
[code]
And am getting the following in the console:
[code]
I've seen that when using this service the scroll position does not get to the right place after reopening my dialog.
Let me know if you have issues reproducing this, if so I can try an

[2018-02-20 22:15] nicky-lenaers commented on #28
@HarelM I'm not sure what part you consider incorrect, but if you mean the `offset` property without an explicit value assigned: I'm using the Object literal property value shorthand notation. This means that, in the case of the example, `offset` is the same as `offset: offset`, where the value as passed as an argument to the `triggerScrollToOffsetOnly` function. So in the case of the example, the

[2018-02-20 22:17] nicky-lenaers commented on #28
Yeah it would be very useful to have a plunkr or Stackblitz for that! Let me know when you have it and I'll take a look!

[2018-02-20 22:34] HarelM commented on #28
It does answer my question, IMHO it would be clearer using non shorthand option.

I'll see if I can reproduce in stackblitz...

[2018-02-20 22:53] HarelM commented on #28
Scroll position is set to: 107 (should be at the end) but when loaded it gets to around 25 only (top-middle):
https://stackblitz.com/edit/angular-scroll-to-position-issue-28

[2018-02-21 09:56] nicky-lenaers commented on #28
@HarelM You're right, the offset is not correct when used inside a nested container. You can clearly see the different when i set the container at the very top of the page, because the offset then does work. [Tested in a forked Stackblitz here](https://stackblitz.com/edit/angular-scroll-to-position-issue-28-am3ktj?file=app%2Fapp.component.ts). I'll create a new issue to solve this. Thanks again, u

[2018-02-21 09:57] nicky-lenaers commented on #28
@HarelM Oh I forgot to say, for now to fix this, you'll probably be able to add the offsetTop of the `dialogContent` to the scrollposition 👍  I'll let you know when this is fixed.

[2018-02-21 09:59] nicky-lenaers opened #68 "Incorrect offsetTop for non-target scroll position inside a container"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

Offset is incorrectly calculated inside a container.

## Expected behavior

Correct calculation.

## Minimal reproduction of the problem with instructions

See examples from d

[2018-02-21 10:00] nicky-lenaers commented on #59
@jredd Closing this, as the above comment answers your question. Thanks you for reporting this issue.

[2018-02-21 10:00] #59 closed

[2018-02-21 12:44] HarelM commented on #28
Thanks for the quick response!
There's no rush on my part, I'm guessing it's an easy fix so I'll wait for a new release.
Keep up the good work!

[2018-03-08 20:34] MikaAK commented on #61
@nicky-lenaers I'm having this problem even with using `setTimeout`

[2018-03-15 12:55] luchianvictor opened #69 "Scrolling is always interruptible by mousewheel events"
## I'm submitting a...

<pre><code>
[x ] Documentation issue or request
</code></pre>

## Current behavior

When I set .scrollTo() , the scrolling animation can be interrupted by the user.
I tried setting event.preventDefault() and also setting the css property pointer-events: none

## Expected behavior

It should prevent any scrolling actions untill the animation completes

## Environment

<pre><

[2018-03-23 00:47] sivan123 opened #70 "Can't bind to 'ngx-scroll-to' since it isn't a known property of 'button'"
Getting this strange error and unable to make it work.
followed the basic steps in the doc.

VM8855 core.js:1655 ERROR Error: Uncaught (in promise): Error: Template parse errors:
Can't bind to 'ngx-scroll-to' since it isn't a known property of 'button'. ("            <td>{{user.lastName}}</td>
                <td>
                  <button type="button" [ERROR ->][ngx-scroll-to]="'userdetails'" cl

[2018-03-27 07:32] nicky-lenaers commented on #70
@sivan123 Thank you for your issue. This issue, however, is a not a problem with this module. My educated guess is that somewhere you forgot to `import` or `export` the proper module. There are many issues to be found across the web, inclusing [here](https://stackoverflow.com/questions/43522877/cant-bind-to-x-since-it-isnt-a-known-property-of-y?rq=1), (here)[https://stackoverflow.com/questions/389

[2018-03-27 07:32] #70 closed

[2018-03-27 13:28] PartySky opened #71 "How ngx-scroll-to can be used with css selector, not with id?"
How ngx-scroll-to can be used with css selector, not with id?

[2018-03-29 02:02] vsok opened #72 "How ngx-scroll-to can trigger scroll when page load?"
Here my code

[code]

Is possible ngx-scroll-to can scroll when i enter "http://localhost:4200/blue"?
Is possible ngx-scroll-to can working back history?

[2018-03-31 11:17] nicky-lenaers commented on #72
Hi @vsok , thank you for reporting your issue. Regarding your questions:

Yes. You can do this using the service as described [here](https://www.npmjs.com/package/@nicky-lenaers/ngx-scroll-to#basic-usage---service-to-target). If you want it to trigger on page load, you can use the built-in `APP_INITIALIZER` from Angular ([docs](https://angular.io/api/core/APP_INITIALIZER)). Some tutorials on this

[2018-03-31 11:17] #72 closed

[2018-03-31 19:16] ProjectWasp opened #73 "Safari always scrolls to top"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

JUST IN SAFARI, always scrolls to top of the page or doesn't work at all. (didn't test in iOS)

## Expected behavior
Should work the same as in Chrome

<pre><code>
Angular v

[2018-04-13 11:59] fbele opened #75 "Not working in Edge or IE"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report>
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
There isn't much to say. The module works flawlessly in Chrome and Firefox but in Edge and IE (11) doesn't react on click at all.

## Expected behavior
Working on all browser

[2018-04-25 08:12] rafa-as opened #76 "Use passive events"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
The document listeners doesn't use the passive event to improve the performance.
Info: https://developers.google.com/web/tools/lighthouse/audits/passive-event-listeners

## Exp

[2018-05-04 07:49] GregSithole commented on #75
Hey

I'm using Microsoft Edge 41.16299.371.0 (Same as You) and it does work but I'll be honest when I say it has a bug on my side... so when I click on the Nav Item, it bounces to the top of the page and then navigates to where it needs to go.

Just adding additional info to your Issue

[2018-05-04 16:25] WagnerMoreira opened #78 "how to use ngx-scroll-to to keep element centralized on the screen?"
basically, I have it working but the element is always at the top of the screen, I need a way to centralize that, so ngx-scroll-to works only in the Y axis?

[2018-05-05 07:27] nhatzbulawan opened #79 "Target is in different component"
Target destination is in different component

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ x] Feature request
[ ] Documentation issue or request
</code></pre>

[2018-05-08 12:42] kroeder commented on #23
Actually, this keeps me from testing it since I'm not sure if it 100% hits my use case - No chance to add a stackblitz demo or something?

[2018-05-09 08:06] nicky-lenaers commented on #23
Hi @kroeder , I see. More work will be done soon on this project, including a demo. For now, you can use a [minimal demo on Stackblitz here](https://stackblitz.com/github/nicky-lenaers/ngx-scroll-to), which uses Stackblitz' feature to auto-load Angular CLI projects. Hope this helps for now!

[2018-05-10 11:30] trobbertze opened #83 "ngx-scroll-to interferes with ngrx store"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

I have an Angular project that uses  ngrx as a redux store.  Everything works fine.

I've successfully installed ngrx-scroll-to and it works like a charm.

Here is the thing

[2018-05-10 15:34] trobbertze commented on #83
This is the exact issue that I am getting:

https://github.com/zloirock/core-js/issues/347

Disabling redux dev tools helped for me.

I realise this is not a direct issue for you but what makes it strange is that I only get this issue when I use your module.

I found a couple of places where they mentioned that the es6 date polyfill might be the root cause or lazy loading of modules.

[2018-05-10 19:50] nicky-lenaers commented on #83
Hi @trobbertze , thank you for reporting your issue. Like you mentioned, this issue is not related to this plugin. Therefor, closing 💯

[2018-05-10 19:50] #83 closed

[2018-05-10 19:56] nicky-lenaers commented on #78
Hi @WagnerMoreira , thank you for you issue. Please note that using the issue template makes your issue easier to discuss.

Regarding your question: The plugin indeed only works on the Y axis. If you'd want to centralize on the Y-axis, you can use the `offset` property and calculate the offset you need to centre an element on the screen. Is that of any help to you?

[2018-05-10 21:33] nicky-lenaers commented on #69
Hi @luchianvictor , thank you for reporting your issue. This issue is, however, a dup of #8, so closing this. You can continue discussion there. Thank you.

[2018-05-10 21:33] #69 closed

[2018-05-10 21:39] nicky-lenaers commented on #75
@fbele @GregSithole Thank you guys for reporting this. Do you mind setting up a small Stackblitz. There is a template you can use [here](https://stackblitz.com/github/nicky-lenaers/ngx-scroll-to).

**NOTE**

When I run this demo from the Stackblitz template in Edge, it all works fine. For now, I can't reproduce. I'll investigate once you have the Stackblitz. Thanks again!

[2018-05-10 21:41] nicky-lenaers commented on #73
Hi @ProjectWasp , thank you for your issue. Please specify your Safari version so I can investigate. Thank you :)

[2018-05-10 21:56] nicky-lenaers commented on #61
@MikaAK You check [this Stackblitz example](https://stackblitz.com/github/nicky-lenaers/ngx-scroll-to). The first page has a scroll animation with an `*ngIf` block to scroll to, which is working. The files that matter are [home.component.ts](https://stackblitz.com/github/nicky-lenaers/ngx-scroll-to?file=src%2Fapp%2F%2Bhome%2Fhome.component.ts) and [home.component.html](https://stackblitz.com/githu

[2018-05-10 21:56] #61 closed

[2018-05-14 16:34] Pedrozxcv opened #87 "Add scroll support to elements with "overflow" property set to "overlay""
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[] Bug report
[X] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
Scroll is not working when the scrollable element has "overflow: overlay". From a quick peek on the code, I noticed that only "overflow:auto" and "overflow:scroll" are being che

[2018-05-15 08:02] nicky-lenaers commented on #87
@Pedrozxcv Thank you for you issue. I will look into this shortly. Stay tuned!

[2018-05-25 12:04] GregSithole commented on #75
@nicky-lenaers I create another Stackblitz for you to check out... I'm pretty much still having that issue...
Here's my stackblitz: https://stackblitz.com/edit/angular-7udsyf

[2018-06-04 16:36] yanis-git commented on #66
hi @AustinHatem i have notice on your demo is `.mat-drawer-content` who have `overflow: auto`. If you disable this property your are able to scroll to right position.

[2018-06-09 14:51] harsimerkaur commented on #79
@nicky-lenaers is there are solution for this problem?
I have asked you same on stackoverflow as well. Kindly respond.
My source and destination component are different
Regards.

[2018-06-09 15:03] harsimerkaur commented on #79
@nhatzbulawan Did you find any work around for this? Please respond. Thanks.

[2018-06-09 15:13] nhatzbulawan commented on #79
@harsimerkaur , I used the service the _scrollToService

[2018-06-13 11:28] yanis-git commented on #66
@ksonho i can't see any angular sidenav on your sample. Could you post us https://stackblitz.com/ reproductible issue ?

[2018-06-14 02:06] ksonho commented on #66
yep, i am not using angular sidenav. I am using the form group and form control for it. maybe I need to create another issue?

[2018-06-14 05:15] yanis-git commented on #66
I’am fine to keep same issue.

Could you post renderable sample of your issue. I will try my best to solve it.

[2018-06-14 14:12] BarnT opened #89 "Add support for "visibilityBased" option"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
</code></pre>

## Expected behavior

I would like to have a new option, called "ngx-scroll-to-visibility-based", or something like this.
By default it should be false. If it's set to true, scroll should happen o

[2018-06-14 14:21] BarnT commented on #89
I've just uploaded a basic jquery plugin implementation that supports this option: https://github.com/BarnT/jquery.scrollToChild/blob/master/jquery.scrollToChild.js

[2018-06-18 07:57] robbertvancaem opened #90 "Pass function to [ngx-scroll-to-offset]"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
Currently `[ngx-scroll-to-offset]` only supports numbers. This could be a potential problem for, let's say, a mobile layout with a fixed header. For desktop, the offset could b

[2018-06-19 13:31] nicky-lenaers commented on #71
@PartySky please eleborate on this issue and use the issue template format. I do not have enough information to understand what you're trying to do.

Thanks!

[2018-06-26 09:23] augustovandyk opened #91 "@nicky-lenaers/ngx-scroll-to@"<1" not working"
## I'm submitting
A npm install issue for ngx-scroll-to

## Current behavior
When using  npm install @nicky-lenaers/ngx-scroll-to@"<1" it replies with the following:
"The system cannot find the file specified."

## Expected behavior
For npm install @nicky-lenaers/ngx-scroll-to to work for angular versions before 6

## Environment
Angular version:
angular/cli: 1.7.1
angular-devkit/build-optimizer:

[2018-06-27 18:35] Shane-E commented on #91
The npm package shows there have been 27 versions published at this time of writing. The latest version before 1.0.0 is 0.6.1, so I would suggest trying `npm i @nicky-lenaers/ngx-scroll-to@0.6.1`

[2018-06-27 18:46] augustovandyk commented on #91
@Shane-E Thanks a lot. That works great!

[2018-06-27 18:46] #91 closed

[2018-07-05 20:58] juarvarfedev commented on #75
@nicky-lenaers, just to let you know, I've found and issue when testing in IE11. It doesn't scroll if you have the parent element css property set to **overflow-y:hidden**, I've changed to **overflow-y:scroll** and it worked fine.

[2018-07-16 13:49] trombitas commented on #71
Currently for selecting the target element via CSS we can only use ID's (<div id="target"></div>).

[In the source code](https://github.com/nicky-lenaers/ngx-scroll-to/blob/master/src/app/modules/scroll-to/scroll-to.service.ts#L268):
...
targetNode = this._document.getElementById(stripHash(id));
...

I think what @PartySky  wanted to say is that it would be great if we could use any CSS selector t

[2018-07-18 07:53] nicky-lenaers commented on #71
I see now, thank you. The design choice to go with ID is based on the fact that scrolling can only happen to a **single unique element**. The directly translates to an ID. If I were to base the selector on e.g. `querySelector`, multiple elements potentially get selected, leaving the library consumer confused to a broken implementation.

Hence I think ID selection suits best in this case.

Let me k

[2018-07-24 11:13] ardcsr opened #92 "i canot scroll to id in ngfor but href can scroll."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

cannot use ngx-scroll-to to scroll to id in ngFor in angular 6 but href can scroll.

## Environment

<pre><code>
Angular version: 6

Your version of `@nicky-lenaers/ngx-scrol

[2018-07-24 11:31] KlausEichinger commented on #92
On a dynamic built item list (*ngFor):

<button [ngx-scroll-to]="'#H'">ngx-scroll-to #H</button>
<button [ngx-scroll-to]="'H'">ngx-scroll-to H</button>
<a [ngx-scroll-to]="'#H'">ngx-scroll-to #H</a>
<a [ngx-scroll-to]="'H'">ngx-scroll-to H</a>

works like expected

[2018-07-25 04:02] ardcsr commented on #92
it not work. it scroll to top only.
 <a [ngx-scroll-to]="'SUB'" style="cursor: pointer;">
<a [ngx-scroll-to]="'#SUB'" style="cursor: pointer;">

[2018-07-25 08:56] KlausEichinger commented on #92
Show more code please

[2018-07-26 07:09] ardcsr commented on #92
loop
<div *ngFor="let contentSup of modelShow; let index=index" >
        <div [id]="'SUB'+index">.........</div>
</div>

<a [ngx-scroll-to]="'#SUB0'" style="cursor: pointer;">Contact us</a>

[2018-07-26 07:39] ardcsr commented on #92
Ho no! it my bad. it have id='SUB1' in my code. i don't know why another id not works . When i delete id='SUB1', everything is work.
Thanks @KlausEichinger

[2018-07-26 07:39] #92 closed

[2018-07-26 12:09] GregSithole opened #93 "[ngx-scroll-to] issues with gifs"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

The issue happens when I have multiple gifs in a Component and I use `[ngx-scroll-to]="'#section'"`,
which causes the browser to lag on that section as the scroll is initiated

[2018-07-29 12:06] hsallabas opened #94 "don't work wheel event. I can not page scrolling when mouse wheel up-down"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ #] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

I want to do page scrolling when mouse wheel up and down. I give wheel event the ScrollToEvent but doesn't work it. thanks for helps

## Expected behavior

mouse wheel up and

[2018-07-30 20:37] miriamramos opened #95 "Modal container div to scroll"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
I have a page that has a scroll and this page open a modal, in this modal I have a div that contains a scroll that I target and put in a container, but this not working, if I re

[2018-08-01 18:10] MitraDangH opened #96 "[ngx-scroll-to] at desired position is lagging"
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request

First of all, thank you so much for spending time creating this project! It is amazing so far.

## Current behavior
Example: I click on a button with [ngx-scroll-to]="'#main-content'". It works perfectly and leads me to the div with the id="main-

[2018-08-06 20:55] mehs2690 commented on #66
When I open my page on my smartphone, the scroll works fine the first time, then it does not work anymore. I am using [ngx-scroll-to] to "ID's" in fixed navbar

[2018-08-22 15:21] sssalib42 opened #97 "Angular6 ngrx6 rxjs6 compatability issues"
After upgrading to rxjs 6, I can't finish my upgrade process, specifically the very last step, which is to remove the rxjs-compat library, because ngrx-scroll-to is still using rxjs5 syntax.

Here is a github issue, explaining the problem I'm facing because ngrx-scroll-to isn't up to date:
ReactiveX/rxjs#3654

Here is a useful page including the rxjs 6 upgrade instruction:
https://auth0.com/blog/w

[2018-08-22 16:47] nicky-lenaers commented on #97
Hi @sssalib42, I've been away for a little while, picking up development on this repo from this point forward again. Your PR will be very welcome!

[2018-08-22 17:30] sssalib42 commented on #97
@nicky-lenaers , I just noticed that you have already done the good work of upgrading the code in the latest release 1.0.0.

My errors were resolved by updating my package.json version of ngx-scroll-to from "^0.6.0" to "^1.0.0".

Thank you.

Please feel free to close the issue.

[2018-08-22 17:31] #97 closed

[2018-08-23 21:36] srtab commented on #53
Hi @nicky-lenaers,
This feature would be a huge addition to the plugin. We are using it in production and our client just ask some extra behavior right after scroll ends and for now it's impossible to do it without this feature.
Do you have a prevision when you can make it available?
Thanks and congrats for the amazing plugin :)

[2018-09-10 07:50] Sazeidya opened #98 "using ElementRef as target in combination with ScrollToService causes "memory leak""
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

When using the ScrollToService in combination with an ElementRef to scroll to a specific element causes memory leak, when current view is switched (because of routing to anothe

[2018-09-11 13:43] nicky-lenaers commented on #71
Closing due to inactivity. Please reopen if the issue persists.

[2018-09-11 13:43] #71 closed

[2018-09-11 15:15] nicky-lenaers commented on #94
@hsallabas Thank you for your issue. However, this is not enough context for me to work with. Can you provide a Stackblitz example?

[2018-09-11 15:35] #87 closed

[2018-09-11 15:37] nicky-lenaers commented on #78
Closing this due to inactivity. If this issue persists, please reopen this issue. Thank you.

[2018-09-11 15:37] #78 closed

[2018-09-11 16:04] nicky-lenaers commented on #93
@GregSithole I've just released [version 1.1.0](https://github.com/nicky-lenaers/ngx-scroll-to/releases/tag/1.1.0), which includes passive event listeners. I've noticed your page lags even when using the mousewheel to scroll. I think you should be looking at decreasing the gif-intensive parts rather than a fix for this package.

Let me know if the passive event listeners have done any good. Closin

[2018-09-11 16:04] #93 closed

[2018-09-11 18:43] Arnaud73 opened #101 "src directory seems to be missing from NPM package"
## I'm submitting a...

<pre><code>
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
Building my Angular 6 app with ngx-scroll-to 1.1 ends with :
<pre>
ERROR in node_modules/@nicky-lenaers/ngx-scroll-to/nicky-lenaers-ngx-scroll-to.d.ts(5,41): error TS2307: Cann

[2018-09-11 19:42] paulomonteiro1 commented on #101
Same problem.

[2018-09-12 06:52] rafa-as commented on #101
Same here

[2018-09-12 08:37] nicky-lenaers commented on #101
@Arnaud73 This should be fixed in [version 1.1.1.](https://github.com/nicky-lenaers/ngx-scroll-to/releases/tag/1.1.1), apologies for the inconvenience (I don't exactly know why this happened). Anyway, could you check?

[2018-09-12 08:39] nicky-lenaers commented on #79
@nhatzbulawan Please provide an example on e.g. Stackblitz, so I can look into the problem. I need some more context for this.

Thanks!

[2018-09-12 13:16] nicky-lenaers commented on #101
Closing this. If this still persists, please let me know!

[2018-09-12 13:16] #101 closed

[2018-09-12 21:03] Arnaud73 commented on #101
Fixed for me!
Thanks

[2018-09-25 11:40] tPiotrChojnacki commented on #94
@nicky-lenaers
Is there maybe any progress on this issue? For me the 'wheel' event doesn't work either, whereas other events such as 'click' and 'mouseleave' work just fine.

<h2>Minimal reproduction of the problem with instructions</h2>

[code]

<h2>Environment</h2>

Angular version: 6.1.7

Your version of `@nicky-lenaers/ngx-scroll-to`: 1.1.1

Browser:
- [ ] Chrome (desktop) version XX
- [ ] Chr

[2018-09-27 21:16] wduville commented on #66
I applied @yanis-git tips and it worked for me.
For my specific case I had also `.mat-tab-body-content ` and ` .mat-tab-body.mat-tab-body-active` to disable:

[code]

[2018-10-17 06:06] tufa-8 opened #102 "Wrong for loop"
https://github.com/nicky-lenaers/ngx-scroll-to/blob/62baea0c2c0e60480bdbb23f4b472fbe45741f2b/src/app/modules/scroll-to/scroll-to.service.ts#L257

Don't know if this is intentional or not... Condition and increment statements are switched. As a result in the first iteration, the element is the parent and not the actual native element itself. As a result, the behavior is that it is always the contai

[2018-10-24 13:31] HMubaireek opened #104 "ScrollTo is not working with absolutely positioned divs"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

I'm trying to scroll to a div that has position: absolute but it's not working.

## Expected behavior

To work with divs that has  position: absolute

## Minimal reproduction

[2018-10-25 12:06] INFINITERIUM opened #105 "Offset bug for sticky navbar"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

When scrolling to an element using id, and using a sticky top navbar (bootstrap 4), it scrolls to the element without taking the sticky top navbar in account. Resulting in t

[2018-10-25 14:15] Stas-tolpekin opened #106 "Add support of horizontal scrolling"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[x] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
The horizontal position of the target element is ignored by this library

## Expected behavior
If the element has horizontal offset and placed outside of container viewport, hor

[2018-10-29 10:07] fabioloreggian opened #107 "Not scrolling, but no errors"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
When I use the scrollToService to scroll to an ElementRef it doesn't scroll at all. So I subscribed to the observable to see if there were any errors, but instead of errors I g

[2018-10-29 10:30] fabioloreggian commented on #107
Okay I debunked this even further, it has nothing to do with the hierarchy, but all to do with the fact that I was using min-height

[2018-10-29 17:34] mbeckenbach opened #108 "Fix NPM Errors"
Looks like the package runs fine on angular 7.
Could you please update your dependencies?

[code]

[2018-10-30 09:57] nicky-lenaers commented on #105
@INFINITERIUM Thank you for reporting your issue. The situation you describe is actually by design. There are no other HTML elements weighted in the offset calculation, including any sticky elements. This is because it is impossible to know what kind of (sticky) elements to evaluate when determining the scrolling destination and/or offset.

But there is good news! You can, however, achieve your go

[2018-10-30 09:57] #105 closed

[2018-10-30 09:57] #19 closed

[2018-11-03 18:34] BergerLand commented on #108
I also ran into the same.

[2018-11-06 14:07] rafa-as commented on #108
Same here!

[2018-11-08 10:30] PavelPikat opened #110 "scroll-to.service.ts imports from 'rxjs/index'"
ScrollToService imports entire rxjs when used in lazy-loaded module.
Perhaps is should just import from 'rxjs'

[2018-11-09 14:15] shaharyar123 opened #111 "Scroll to child div not working."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

i was trying to add scroll to the **child-div** (code below) code but it wasn't working, rater then it scroll to the top of the window.
[code]
 but when i change the reference to  **main-div,** it

[2018-11-16 19:35] zahirkelloud commented on #108
Please fix your peer deps

[2018-11-19 17:36] lppedd commented on #111
I'm not a Javascript expert, but it seems the problem is here
https://github.com/nicky-lenaers/ngx-scroll-to/blob/62baea0c2c0e60480bdbb23f4b472fbe45741f2b/src/app/modules/scroll-to/scroll-to.service.ts#L109

[2018-11-20 07:04] Aracturat opened #112 "Make compatible with Angular 7"
Please add support of Angular 7

[2018-12-12 15:09] nicky-lenaers commented on #112
Thanks for reporting, this is now added in [2.0.0](https://github.com/nicky-lenaers/ngx-scroll-to/releases/tag/2.0.0).

[2018-12-12 15:09] #112 closed

[2018-12-12 15:10] nicky-lenaers commented on #108
This is now fixed in [2.0.0](https://github.com/nicky-lenaers/ngx-scroll-to/releases/tag/2.0.0). Thanks for reporting!

[2018-12-12 15:10] #108 closed

[2019-02-04 17:33] BenSegni commented on #79
@nicky-lenaers Hi dude. I've stumbled across this issue too. I have a slider at the top of a one page website and the nav and main content is one component, website component and I have broken out the slider into it's own separate one. The values for the anchors are set within an api and are rendering in the browser, but scroll doesn't work. any ideas?

[2019-02-04 20:55] robbertvancaem commented on #79
@BenSegni Could you please provide an example (e.g. Stackblitz or JSfiddle) of some sorts so we can follow along to see what you issue exactly is?

Thanks in advance! 🙏

[2019-02-04 21:03] BenSegni commented on #79
Hi @robbertvancaem - we have a workaround in place, but will share this stackblitz very shortly. Many thanks for the support. :)

[2019-02-05 22:54] mrtpain commented on #111
@nicky-lenaers Any updates on this? Currently having to hack the offset option to get this working with repeated over columns....

[2019-02-05 23:57] romelgomez commented on #111
An simplified version of this, I found this answer in stackoverflow  https://stackoverflow.com/a/51400379/2513972

As workaround and for my use case, I create an service to keep the reference of the element that I need to scroll, mostly because if I need change of view, and scroll to...

[code]

Component
[code]

Service
[code]

Using this path, your have to look for view life cycle hooks to gain

[2019-02-07 08:08] robbertvancaem commented on #79
@BenSegni Great that you found a workaround, would indeed be cool if you could still share a StackBlitz or something so we could investigate what could be improved.

[2019-02-19 17:26] richie50 commented on #111
isWindow returns false even though we are in the current target.

[2019-02-28 12:02] Gildass opened #116 "ScrollTo is not working with body/windows container and target wrapped by a container with relative position"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

When I try to scroll to a target which is inside a container (which has a css position:relative, and when the scrollable container is the page's body (window), the scroll is

[2019-03-01 18:11] aymebou opened #117 "Missing ScrollToEvent class in public_api"
Hello,

I'm using Angular 7, and added the ngx-scroll-to via:
`$ npm install @nicky-lenaers/ngx-scroll-to`

As I was trying to set the event to wheel, i had the error:
`ERROR in ^^^: error TS2305: Module '"../../../node_modules/@nicky-lenaers/ngx-scroll-to/nicky-lenaers-ngx-scroll-to"' has no exported member 'ScrollToEvent'`

The line raising the error was this one:
`import { ScrollToAnimationEasi

[2019-03-06 19:28] justindmyers commented on #116
Same here. Removing `position: relative` from all parent containers causes it to work, but it's completely unusable for any remotely complicated layout.

[2019-03-19 08:17] robbertvancaem commented on #111
Hey @shaharyar123, do you have a running example that I can have a look at? :-)

[2019-03-19 08:22] robbertvancaem commented on #117
Hey @aymebou, can you share a code example that I can have a look at? Quite curious to what you're trying to achieve, might indeed be useful to export the ScrollToEvent :-)

[2019-03-26 07:12] uloga commented on #51
To0 bad that this is not supported since in 90% of cases this is actually how this type of scrolling is used. Diving into fixing this allowed me to recreate the scroll that fits my own needs without using your plugin, which resulted in les code and better performance. You should think about adding that if you want your plugin to be used and get popular. Good luck.

[2019-03-26 08:47] uloga commented on #98
There is memory leak even if you don't use ElementRef. Tried this plugin, after using it for an hour click even has an delay of 1 sec and it increasing. Sometimes it scrolls half way then stops and starts again.

[2019-03-26 20:56] #110 closed

[2019-04-02 12:39] alex-gera commented on #53
Hi!
You can use third callback in Observable subscription like this
[code]

[2019-04-07 18:54] bensgroi commented on #116
I'm seeing this as well. Angular 6.1.10 and 2.0.0 of this package.

[2019-04-09 08:47] bemiks opened #119 "Zoom - wrong position."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

After dynamic change of element's size (scroll css property) - scrollTo doesn't properly 'count' the right position.
If I will click the button 2nd time, it goes to the right

[2019-04-09 09:03] bemiks commented on #119
Honestly - i've just used a simple js code instead of your library.

const element = document.getElementById('id')
element.scrollIntoView({ behavior: 'smooth', block: 'start' });

[2019-04-10 22:47] Farhan-Islam opened #120 "iOS doesnt scroll, it jumps to the specified div id."
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

On chrome IOS the scroll just jumps to the next div without any scroll event. It just goes straight to the div rather than scrolling up or down to it

## Expected behavior

O

[2019-04-23 16:14] roman4ak commented on #106
Hi!

Are there any updates regarding this issue?

Many thanks,
Andrii

[2019-05-27 14:30] daniel-seitz commented on #112
Any chance this will be available with node version 8?
(I get the error:  @nicky-lenaers/ngx-scroll-to@2.0.0: The engine "node" is incompatible with this module. Expected version ">=10.0.0". Got "8.12.0")

[2019-05-27 14:33] kondi commented on #112
I already raised this here in December without answer :( : https://github.com/nicky-lenaers/ngx-scroll-to/commit/5b9cb85a65ebd86ed2fc6584f0284f0582b46784#r31667652

[2019-05-28 03:25] daniel-seitz commented on #112
@kondi Thanks for pointing this out, that helps narrowing things down. I guess we are all too busy and things sometimes slip through..

[2019-05-29 14:11] Zwergenpunk opened #121 "Make compatible with Angular 8"
Please add support of Angular 8

[2019-05-31 21:19] danielmoncada commented on #121
This appears to work fine in Angular 8. Though, the following warnings are present:

[code]

[2019-06-15 19:33] grmpfhmbl commented on #116
The problem is very likely here https://github.com/nicky-lenaers/ngx-scroll-to/blob/21596bce4d40628994c0697ab7c55df23968efdd/projects/ngx-scroll-to/src/lib/scroll-to.service.ts#L108-L110

When using `offsetTop` you'll have to check if the `offsetParent` is actually the `container` you want to scroll. If there are elements with `position:relative` in between, this is very likely not the case. Here

[2019-06-21 12:08] saeedarshad commented on #95
Hi @miriamramos , is this issue solved? i am currently facing the exact same issue.

[2019-06-26 16:16] HarelM commented on #121
Just upgraded to angular 8, would be nice to have this warning removed. :-)

[2019-07-03 13:24] casvanluijtelaar commented on #70
this is an issue. however the execution will still work.
![image](https://user-images.githubusercontent.com/46999476/60595129-b0ed8980-9da6-11e9-9a1d-20333e2b7eaf.png)

[2019-07-05 19:48] americanslon commented on #61
I have the same issue. Anything new on this front?
The example from stackblitz doesn't seem to load by the way.

[2019-07-09 15:36] Rlima2 opened #122 "ISSUE, scroll-to incomplete"
I'm submitting a issue

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ x ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

I use a guid with 36 characters and was not working, when i check the html i see:
ng-reflect-ngx-scroll-to="c31da57b-715d-423d-a4d2-2df892"

The origin guid was: c31da57b-71

[2019-07-09 15:48] #122 closed

[2019-07-11 19:07] iantrudell commented on #121
Any updates on this? Seems to be working in Angular 8 but would like to have that warning removed too :)

[2019-07-30 13:54] pburkindine commented on #121
Bump

[2019-08-12 22:39] rafa-as commented on #121
Some news here @nicky-lenaers  ?

[2019-08-13 12:42] nicky-lenaers commented on #121
See #123

[2019-08-13 12:42] #121 closed

[2019-08-13 12:58] rafa-as commented on #121
thanks @nicky-lenaers

[2019-11-18 21:16] cenk1cenk2 opened #125 "Having issue with Google Chrome"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[X] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
Unfortunetly does not work with Google Chrome Version >78.0.3904.97 as of my testing. I can get it to work with Microsoft Edge. But could not manage to make it work while I am

[2020-01-09 10:24] rafa-as opened #126 "CI process fails"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior
CI process fails

## Expected behavior
CI process works properly

[2020-01-09 10:36] #126 closed

[2020-02-20 17:29] kjavia commented on #125
That's because in Chrome you need to give `#id` not just `id` in the `target` property.

[2020-03-27 20:21] #125 closed

[2020-05-20 10:49] shan75 opened #130 "Issues with Angular 8 while building."
Hi

I am having issues while compiling to release. It throws up the following error.  In debug mode it seems to work okey

ERROR in ./node_modules/@nicky-lenaers/ngx-scroll-to/fesm2015/nicky-lenaers-ngx-scroll-to.js
Module build failed (from ./node_modules/@angular-devkit/build-optimizer/src/build-optimizer/webpack-loader.js):
TypeError: Cannot read property 'kind' of undefined
    at isAngularDec

[2020-05-20 12:29] rafa-as commented on #130
@shan75 could you follow the GitHub template to create issues? We need more information to attend your bug.

[2020-05-20 12:34] shan75 commented on #130
Hello
Thanks for getting back.  I am using Angular 8 so tried to install as per your documentation.  It seems it is down to angular version I got.

Details in this link
https://stackoverflow.com/questions/53827570/typeerror-cannot-read-property-kind-of-undefined-at-getassignmenttargetkind/59949790#59949790

I tried to update my angular version to 'npm i @angular-devkit/build-angular@0.803.7'  afte

[2020-05-20 13:27] rafa-as commented on #130
Perfect @shan75

[2020-05-20 13:27] #130 closed

[2020-05-20 13:52] rafa-as commented on #75
I just checked that works on IE11 and Edge.

[2020-05-20 13:52] #75 closed

[2020-05-20 13:54] rafa-as commented on #73
I just checked that works as expected on Safari. Reopen it if you still have this issue.

[2020-05-20 13:54] #73 closed

[2020-05-20 13:56] rafa-as commented on #120
I just checked that works on Chrome for iOS. Reopen it if you still have this issue.

[2020-05-20 13:56] #120 closed

[2020-06-05 00:57] pburkindine opened #131 "9.0.0 release broken in IE11"
## I'm submitting a...

<pre><code>
[X] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

In IE11 using ngx-scroll-to 9.0.0, upon navigating to a page, clicks in the scrollbar result in the page immediately jumping back to the top.  Mouse wheel/trackpad scroll work

[2020-06-23 01:25] t0921988961 commented on #70
I have same question, but i find the problem,
**### 1.First, Please make sure your app.module.ts**
`import { ScrollToModule } from '@nicky-lenaers/ngx-scroll-to';
@NgModule({
  declarations: [
    AppComponent,
  ],
  imports: [
    ...
    ScrollToModule.**_forRoot_**(  )
  ],
  providers: [],
  bootstrap: [AppComponent]
})
`

**### 2.In your Feature.module.ts , Please make sure below setting **

[2020-08-10 14:22] nicky-lenaers commented on #119
@bemiks Thank you for your comment. I am aware of this, as I marked this repo archived earlier and referred to your solution instead. However, some folks still depended on this lib, so development continued mainly to support newer Angular versions.

I am glad you found a nice and clean solution yourself 👍 .

[2020-08-18 04:57] tenglongroy opened #135 "How to listen / subscribe to animation finished"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ x ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

No such listener / subscription

## Expected behavior

Would like to have a listener / subscription to inform when the animation finished, so that some actions can be perfor

[2020-09-02 07:43] igorlino opened #136 "angular 10+ support"
## I'm submitting a...
<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

![image](https://user-images.githubusercontent.com/10480442/91944719-d3f33080-ecfe-11ea-829b-48469c9622ed.png)

## Expected behavior

No npm install warnings

## Minimal repro

[2020-09-04 12:43] ajilderda commented on #135
@tenglongroy Do you mean you want to subscribe to the scroll finish event? In that case, this post might help:
https://github.com/nicky-lenaers/ngx-scroll-to/issues/53#issuecomment-478976758

[2020-09-05 11:20] tenglongroy commented on #135
@ajilderda  Oh yes! that's the one! thank you!!!

[2020-09-05 11:20] #135 closed

[2020-11-09 07:32] daniel-seitz commented on #136
P.S. while you're at it, Angular 11 is coming up soon. What about making this package less restrictive and just specify the minimum version to avoid future issues like this. I mean something like:

[code]

Then, when something breaks, we could review this setting.

[2020-12-03 20:07] pburkindine commented on #131
@nicky-lenaers This is blocking our ability to update, is there a chance of a resolution?

[2021-01-05 23:40] smileLilith commented on #136
PR with the upgrade to Angular v10 https://github.com/nicky-lenaers/ngx-scroll-to/pull/138. Tagging @rafa-as 😄

[2021-01-16 21:49] HarelM commented on #136
I would also like to see this getting in. Thanks!

[2021-02-04 10:02] HarelM commented on #136
@nicky-lenaers can you update the dependencies to 11? I've tested this to work with angular 11 as well - I would like to avoid these warnings if possible... pretty please :-)

[2021-02-04 10:26] rafa-as commented on #136
Hi there, I'm sorry for the delay, we will push the changes to make it work with Angular 11 ASAP.

[2021-04-06 20:33] HarelM commented on #136
@rafa-as any updates on this? I haven't seen an update in npm...?

[2021-04-23 11:14] D-Biela commented on #136
Still not updated... I guess we have to use an other package. I do not want to run npm install/update with the --force flag every time.

[2021-06-02 23:46] csimpi commented on #136
ping

[2021-06-16 21:00] HarelM commented on #136
@Jonnyprof @rafa-as Any chance to get this sorted out?

[2021-07-20 20:38] HarelM commented on #136
@maintainers, any change to push this forward? it's been open for a long time now. It is currently the last package I get a warning about that is related to angular 12.
Simply change the dependencies to be >= 8.0 and add a note about using at your own risk, that's all, shouldn't take more than a few minutes...
Please, please, please...

[2021-07-29 07:19] rbalet commented on #136
The repo doesn't seem to be maintained anymore....

[2021-07-29 07:22] HarelM commented on #136
Yup, I'll probably copy the files here into my codebase and remove the reference... :-(

[2021-08-03 22:47] umar0645 commented on #79
I am facing the same issue, can you please share stackblitz?

[2021-08-14 14:28] jamini87 opened #150 "Angular 12 Support"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[ ] Bug report
[ ] Feature request
[ ] Documentation issue or request
</code></pre>

## Current behavior

## Expected behavior

## Minimal reproduction of the problem with instructions

## What is the motivation / use case for changing the behavior?

## Environment

<pre><code>
An

[2021-09-24 11:56] rbalet commented on #131
@pburkindine It wont be possible since angular & the world is dropping support for IE11. Can you close this issue ?

[2021-12-14 08:15] igorlino commented on #136
:(  Angular 13.1 is out, and same story

[2022-02-14 10:07] sterichards opened #156 "Doesn't work on mobile view"
I notice that using Chrome desktop view works fine but if I switch to mobile view, nothing happens

I am debugging using the subscribe() but that doesn't give any errors, only coords output

[2022-04-03 20:09] josh803316 commented on #136
👍  Would be nice if this were updated.

[code]

[2022-05-20 22:08] pragati-dugar-frequence commented on #70
did'nt work for me

[2022-06-08 09:50] igorlino commented on #136
:( Angular 14 is out

[2022-06-13 13:40] #8 closed

[2022-09-30 16:27] igabesz commented on #150
In progress it seems: https://github.com/nicky-lenaers/ngx-scroll-to/pull/164

[2022-10-19 09:14] sambernet commented on #136
Thanks to @rafa-as and @andreas-aeschlimann there is now some action again on this repo 🎉

To link stuff together, maybe we can rename this issue to `Angular 10+ support` and close #150 as a duplicate @andreas-aeschlimann ?

Anyway, for anybody interested in the current progress, please also check the discussion in PR #164

[2022-10-19 18:25] andreas-aeschlimann commented on #136
Closing in favor of #150

[2022-10-19 18:26] andreas-aeschlimann commented on #150
Closing this issue in favor of #136

[2022-10-19 18:26] #150 closed

[2022-10-23 22:55] rafa-as commented on #117
Closed due inactivity

[2022-10-23 22:55] #117 closed

[2022-10-23 22:58] rafa-as commented on #119
Closed due inactivity

[2022-10-23 22:58] #119 closed

[2022-10-23 22:59] rafa-as commented on #66
Closed due inactivity

[2022-10-23 22:59] #66 closed

[2022-10-23 23:01] rafa-as commented on #136
Angular 13 support it's released and the 14 it's on the way

[2022-10-23 23:01] #136 closed

[2022-10-23 23:02] rafa-as commented on #131
Closed due inactivity

[2022-10-23 23:02] #131 closed

[2022-10-23 23:05] rafa-as commented on #156
I can't reproduce it. Feel free to open a new issue following the template with a reproduction Stackblitz.

[2022-10-23 23:05] #156 closed